services:
  api:
    build:
      context: .
      dockerfile: SharkyParser.Api/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    restart: always

  web:
    build:
      context: ./SharkyParser.Web
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - api
    restart: always
